<h1>All Categories:</h1>

<% @categories.each do |category| %>
  <li>
    <%= link_to category.name, admin_category_path(category) %>
    <%= link_to "Delete", admin_category_path(category), method: :delete %>
  </li>
<% end %>

<%= link_to "Create", new_admin_category_path %>
